@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&display=swap');

:root {
    --eggshell: #f4f1deff;
    --terra-cotta: #e07a5fff;
    --independence: #3d405bff;
    --green-sheen: #81b29aff;
    --deep-champagne: #f2cc8fff;
    --parisienne-font: "Parisienne";
    --great-vibes-font: "Great Vibes";
}

html, body {
    width: 100%;
    margin: 0px;
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, var(--deep-champagne) , var(--eggshell) , var(--deep-champagne));
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Header.js */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--independence);
    text-align: center;
    width: 70vw;
    padding: 50px 75px;
    padding-bottom: 0px;
}

#header > p {
    color: var(--eggshell);
    font-family: "Parisienne";
    margin: 0;
}

hr {
    width: 100%;
}

.logo {
    font-size: 3em;
}

.slogan {
    font-size: 1.5em;
}


/* Navbar.js */

#nav {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav > div {
    padding: 0px 50px;
}

#nav > div:hover {
    background-color: rgba(256, 256, 256, 0.2);
    cursor: pointer;
}

.active {
    background-color: rgb(40, 42, 61);
}

#nav > div > p {
    color: var(--eggshell);
    font-family: var(--great-vibes-font);
    font-size: 2em;
    margin: 20px  0px;
}